/*All*/
body {
font-family:'Times New Roman', Times, serif;
background-color: bisque;
text-decoration-color:rgb(244, 12, 12);
font-size: 1.3em;
}
header, footer {
    background-color: #f8f8f8;
    padding: 10px 0;
    text-align: center;
}
footer {
    margin-top: 20px;
    font-size: 0.8em;
}




/*Index*/
.container p {
    margin: 0;
    font-size: 1em;
    text-align: center;
}
.header /*universal*/
.title
.navbar
.para1
    #p1header
    #p1
    #indeximage
.footer /*universal*/

/*Projects*/
.container  p {
    margin: 0;
    font-size: 1em;
    text-align: center;

}
.header {

} /*universal*/
.title{

}
.navbar {

}
.projectpara {

}
    #projectheader {

    }
    #projectp1 {

    }
    #projectimage {
        max-height: 500px;
        animation: ease-in 5s ease-in 1s;
    }
    @keyframes ease-in {
        from {
        transform:translateX(0%)
        }
        to { 
        transform:translateX(200%);
        }

    } 
.footer {

}/*universal*/

/*Interests*/
.container
.header /*universal*/
.title
.navbar
.interestpara
    #interestheader
    #interestp1
    #interestimage
.footer /*universal*/
